html {
 color: #1a202c;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#home-content {
  display: flex;
  flex-direction: column;
}

#navBar {
  padding-top: 1.5rem;
} 

.navLink {
  /* color: #66B3BA; */
  color: #56A3A6;
  color: #2f8083;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

#inner-header {
  display: flex;
  /* put this back when the logo gets re-added */
  /* justify-content: space-between; */
  justify-content: center;
  padding: 1.1rem 0 1.1rem 1.5rem;
  border-bottom: 1px solid #c1c7ce; 
  /* #838385; */
}

#logo {
  width: 35px;
  height: 35px;
  background-color: red;
  /* padding-left: 1.5rem; */
}

.header {
  padding-top: 2.5rem;
  /* margin-left: auto;
  margin-right: auto; */
  border-bottom-width: 1px;
}

#intro-section {
  height: 50vh;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  flex: 1 0 50vh;
  /* position: relative; */
  display: flex;
  /* create a minimum height so it doesn't get overlapped 
    padding: 48px + 
  */
}

#intro-text {
  margin: 0 auto;
  /* font-size: 4vw; */
  font-size: calc(40px + (65 - 40) * ((100vw - 350px) / (1600 - 350)));
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.625;
  font-weight: 700;
  text-align: center;
  margin: auto;

}

#name {
  /* color: #f3b2b6; */
  /* color: #f687b3; */
  color: #f7a4a9;
  color: #D2527F;
  /* font-size: 4.5rem; */
  font-size: calc(60px + (90 - 60) * ((100vw - 512px) / (1600 - 512)));
}

#bottomSection {
  background-color: #edf2f7;
  padding: 3vh 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 200;
  font-size: calc(25px + (30 - 25) * ((100vw - 350px) / (1600 - 350)));
}

#blurb {
  /* max-width: 64rem; */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5rem;
}

#connectMessage {
  margin-top: 2.5rem;
}

#connect {
  margin-top: 2.5rem;
}

.connectLink {
  font-weight: 500;
  /* color: #f3b2b6; */
  color: #4299e1;
  color: #4692A3;
}

.connectLink:hover {
  text-decoration: underline;
}


#occupation {
  font-weight: 500;
}

#footer {
  background-color: #4a5568;	
  padding: 2.3rem 0;
  /* margin: 5rem 0; */
  color: #edf2f7;
}

.blogLayout {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* place holder page */
#placeHolderContent {
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#placeHolderMessage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 770px) {
  #bottomSection {
    padding: 8vh 0;
  }
}

@media (min-width: 1040px) {
  .content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #blurb {
    padding: 0 0;
  }
}