.footer {
  background-color: #4a5568;	
  padding: 2.3rem 0;
  /* margin: 5rem 0; */
  color: #edf2f7;
}

.message {
  text-align: center;
  font-size: 0.9rem;
}

.footerLink {
  color: #ffb8cb;
  text-decoration: none;
}

@media (min-width: 700px) {
  .message {
    font-size: 1rem;
  }
}