#navBar {
  padding-top: 1.5rem;
} 

.navLink {
  /* color: #66B3BA; */
  color: #56A3A6;
  color: #2f8083;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

#inner-header {
  display: flex;
  /* put this back when the logo gets re-added */
  /* justify-content: space-between; */
  justify-content: center;
  padding: 1.1rem 0 1.1rem 1.5rem;
  border-bottom: 1px solid #c1c7ce; 
  /* #838385; */
}

#logo {
  width: 35px;
  height: 35px;
  background-color: red;
  /* padding-left: 1.5rem; */
}

.header {
  padding-top: 2.5rem;
  /* margin-left: auto;
  margin-right: auto; */
  border-bottom-width: 1px;
}